---
import Billettyper from "../components/Billettyper.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout />

<section>
    <h5 class="text-rod-500 text-[16px] md:text-[30px] md:mx-44 md:text-center">2 dage med god musik og lækker mad i Kastellets smukke og unikke rammer - alt sammen i en god sags tjeneste!</h5>
</section>

<Billettyper />

<section class="text-center mt-14">
<h3 class="text-rod-500 font-bold text-[23px] md:text-[40px]">Se musikprogrammet her:</h3>
<!-- knap -->
</section>