---
import Billettyper from "../components/Billettyper.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Header from "../components/Headmonster.astro";
import Header from "../components/Headmonster.astro"
import Button from "../components/Button.astro";
---

<MainLayout>
  <Header overskrift="BILLETTER" />
  <section>
    <h5
      class="text-rod-500 font-anek text-[16px] text-center mx-5 md:text-[30px] min-[550px]:mx-[80px] min-[700px]:mx-[100px] min-[950px]:mx-[200px]"
    >
      2 dage med god musik og lækker mad i Kastellets smukke og unikke rammer -
      alt sammen i en god sags tjeneste!
    </h5>
  </section>
<MainLayout />
 <Header overskrift="BILLETTER"></Header>
<section class="md:mb-20">
    <h5 class="text-rod-500 font-anek text-[16px] text-center mx-5 md:text-[30px] min-[550px]:mx-[80px] min-[700px]:mx-[100px] min-[950px]:mx-[200px]">2 dage med god musik og lækker mad i Kastellets smukke og unikke rammer - alt sammen i en god sags tjeneste!</h5>
</section>

  <Billettyper />

  <section class="text-center mt-14">
    <h3 class="text-rod-500 font-bold text-[23px] md:text-[40px]">
      Se musikprogrammet her:
    </h3>
    <!-- knap -->
  </section>
</MainLayout>
<section class="text-center mt-14">
<h3 class="text-rod-500 font-bold text-[23px] mb-8 md:text-[40px]">Se musikprogrammet her:</h3>
<div class="mb-10">
    <Button variant="secondary">PROGRAM</Button>
</div>

</section>



