---
import Billettyper from "../components/Billettyper.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout />

<section>
    <h5 class="text-rod-500">2 dage med god musik og lækker mad i Kastellets smukke og unikke rammer - alt sammen i en god sags tjeneste!</h5>
</section>

<Billettyper />

<section>
<h2>Musik</h2>
<h3>Se musikprogrammet her:</h3>
<!-- knap -->
</section>