---
import Nyhedersingle from "../components/Nyhedersingle.astro";
import Nyhedsbrev from "../components/Nyhedsbrev.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Header from "../components/Headmonster.astro";
---

<section>
  <MainLayout>
    <Header overskrift="NYHEDER" />
    <Nyhedersingle overskrift=" Pårørende til veteraner gratis til Engage" imgSrc="/nyhedpic.png" billede="">
    
      <p>
        I samarbejde med Veteranfonden uddeler Fonden Danske Veteranhjem 2×60
        dagsbilletter til fredag og lørdag på ENGAGE Festival til pårørende af
        veteraner. Det sker med støtte fra Veterancentrets veteranpulje. Er du
        pårørende, og vil du gerne have fingrene i en af vores billetter, skal du
        kontakte en af lederne på vores veteranhjem, som du finder her:
      </p>
      <a class="text-rod-500" href="https://www.veteranhjem.dk">Besøg veteranhjemmets hjemmeside</a>
      <p>
        ENGAGE Festival løber af stablen fredag og lørdag den 7.-8. juni. Årets
        program byder blandt andet på Magtens Korridorer, Lisa Ekdal,
        Folkeklubben, Antytila, Carl Emil Petersen, Ida Laurberg, Hjalmer og mange
        flere.
      </p>
      <p>
        PS. Veteraner kan få gratis adgang til festivalen. 
        <br>
        Læs mere her: <a class="text-rod-500" href="https://engagefestival.dk/for-veteraner">For veteraner</a></p>
    </Nyhedersingle>
    <Nyhedsbrev /></MainLayout
  >
</section>
