---
import Nyhedersingle from "../components/Nyhedersingle.astro";
import Nyhedsbrev from "../components/Nyhedsbrev.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<section>
    <MainLayout />
    <Nyhedersingle />
    <Nyhedsbrev />
</section>