---
import MainLayout from "../layouts/MainLayout.astro";
import Header from "../components/Headmonster.astro";
import Footer from "../components/Footer.astro";
import Omoscard from "../components/Omoscard.astro";
---

<section>
  <MainLayout>
    <Header overskrift="OM OS" />
    <Omoscard />
  </MainLayout>
</section>
