---
import Headmonster from "../components/Headmonster.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Nyhedersingle from "../components/Nyhedersingle.astro";
---
<MainLayout>
<Headmonster overskrift="KALASET"/>

<Nyhedersingle overskrift="ALTERNATIV POP OG ROCK" imgSrc="/kalasetstor.jpg">

<p class="mb-12">
    Musikredaktionen GAFFA tøvede ikke med at give både debutalbum og forårskoncert 5 stjerner med kommentaren; ”Dét dér. Det er musik, der kan få et halvt hundrede tusinde mennesker til at hoppe i takt og rammes af dagen-der på hæshed. KALASET har bygget et hus. Et hjem. Alle er inviteret. ”Og netop dét, er essensen i KALASET’’. Bandet, som i 2,5 år har boet sammen i en lille by udenfor Skanderborg, er nu flyttet fra hinanden til alle afkroge af Danmark. Deres hus udvides og vi er alle sammen inviteret med ind i det nye kollektiv! Rammerne om det nye kollektiv er lige der foran scenen hvor bandet er bedst og publikum er i fokus! KALASET emmer af ung energi og kraft, som udspilles i en skarp vokal og et fængende band. Med catchy melodier og tempofyldte numre inddrages tilskuerne i KALASETs musikalske univers.
</p>

<a href="https://kalaset-official.dk/" class="text-rod-500 ">KALASET's officielle side</a>

</Nyhedersingle>




</MainLayout>

