---
import Billet from "../pages/billet.astro";
---

<section class="flex flex-col items-center justify-center mx-2">
    <div class="">
        <div class="grid grid-cols-3 gap-20 mb-4 font-bold text-rod-500 text-center font-khand text-[19px]">
            <h4>Billettype</h4>
            <h4>Pris</h4>
            <h4>Antal</h4>
        </div>

        <div class="bg-sand-500 p-5 rounded-[18px] mb-8 font-khand text-[19px]">
            <div class="grid grid-cols-3 gap-14 items-center text-rod-500 font-semibold">
                <h4>PARTOUT</h4>
                <h4>774,00 kr</h4>
                <div>
                    <select class="rounded-[18px] p-3 w-[100px] bg-cream-500 border-transparent pl-4">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="bg-sand-500 p-5 rounded-[18px] mb-8 font-khand text-[19px]">
            <div class="grid grid-cols-3 gap-14 items-center text-rod-500 font-semibold">
                <h4>FREDAGSBILLET</h4>
                <h4>424,00 kr</h4>
                <div>
                    <select class="rounded-[18px] p-3 w-[100px] bg-cream-500 border-transparent pl-4">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="bg-sand-500 p-5 rounded-[18px] mb-8 font-khand text-[19px]">
            <div class="grid grid-cols-3 gap-14 items-center text-rod-500 font-semibold">
                <h4>LØRDAGSBILLET</h4>
                <h4>524,00 kr</h4>
                <div>
                    <select class="rounded-[18px] p-3 w-[100px] bg-cream-500 border-transparent pl-4">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</section>
