---
import Billet from "../pages/billet.astro";
import Button from "./Button.astro";
---

<section class="flex flex-col items-center justify-center mx-2 mt-10">
    <div class="">
        <div class="grid grid-cols-3 gap-4 mb-4 font-bold text-rod-500 text-center font-khand text-[19px] md:text-[30px] md:gap-[10rem]">
            <div>Billettype</div>
            <div>Pris</div>
            <div>Antal</div>
        </div>

        <div class="bg-sand-500 p-5 rounded-[18px] mb-6 font-khand text-[19px] md:text-[30px]">
            <div class="grid grid-cols-3 gap-14 items-center text-rod-500 font-semibold">
                <div>PARTOUT</div>
                <div>774,00 kr (kr.749,00)</div>
                <div class="md:pl-[117px]">
                    <select class="rounded-[7px] p-3 w-[100px] bg-cream-500 border-transparent custom-select">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="bg-sand-500 p-5 rounded-[18px] mb-6 font-khand text-[19px] md:text-[30px]">
            <div class="grid grid-cols-3 gap-14 items-center text-rod-500 font-semibold">
                <div>FREDAGSBILLET</div>
                <div>424,00 kr (kr.399,00)</div>
                <div class="md:pl-[117px]">
                    <select class="rounded-[7px] p-3 w-[100px] bg-cream-500 border-transparent custom-select">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="bg-sand-500 p-5 rounded-[18px]  font-khand text-[19px] md:text-[30px]">
            <div class="grid grid-cols-3 gap-14 items-center text-rod-500 font-semibold">
                <div>LØRDAGSBILLET</div>
                <div>524,00 kr (kr.499,00)</div>
                <div class="md:pl-[117px]">
                    <select class="rounded-[7px] p-3 w-[100px] bg-cream-500 border-transparent custom-select">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                    </select>
                </div>
            </div>
        </div>
       
    </div> 
   
</section>

<style>
    .custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('/down.png'); 
  background-repeat: no-repeat;
  background-position: right 10px center; 
  background-size: 20px; 
  padding-right: 30px;
}
</style>