---
const { variant="primary"} = Astro.props;

const buttonStyling = "bg-blo-500 font-khand text-cream-500 font-bold close"

const variantClasses = {
    "primary": "rounded-[7px] py-1 px-4 text-[13px] lg:text-[20px] lg:px-[30px]",
    "secondary": "text-[20px] px-8 py-1 rounded-[7px] lg:text-[50px] md:text-[27px]",
    "tertiary":"text-[19px] py-3 px-3 rounded-[7px] lg:text-[30px]"
};
---
<button class:list={[buttonStyling, variantClasses[variant],]}>
  <slot />
</button>



<style>

  :root {
    --hover: #C7522A; 
  }
  
  .close:hover,
  .close:focus {
    box-shadow: 
      inset -4.5em 0 0 0 var(--hover),
      inset 4.5em 0 0 0 var(--hover);  
  }
  
  button {  

    transition: 0.25s;
    
    &:hover,
    &:focus { 
      border-color: var(--hover);
     
    }
  }
  

  </style>
  