---
const { variant="primary"} = Astro.props;

const buttonStyling = "bg-blo-500 font-khand text-cream-500 font-bold"

const variantClasses = {
    "primary": "rounded-[7px] py-1 px-3 tracking-[2px] text-[13px]",
    "secondary": "",
    "tertiary":""
};
---

<button class:list={[buttonStyling, variantClasses[variant],]}><slot /></button>
