---

---

<!-- Logoer sat ind via dette: https://www.w3schools.com/howto/howto_css_social_media_buttons.asp -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<footer class="bg-blo-500 text-cream-500 py-6 md:pb-24">
    <div class="flex justify-center items-center flex-col md:flex-row  md:space-x-24">

  <div class="flex flex-row md:space-x-24">
      <div class="flex flex-col">
        <h4 class="font-khand text-[19px] lg:text-[30px] mb-2 font-bold  "> Engage festival </h4>
        <ul class="list-none font-anek text-cream-500 text-[16px] lg:text-[20px] space-y-4"  >
          <li class="hover:underline decoration-2">Program</li>
          <li class="hover:underline decoration-2">Praktisk information</li>
          <li class="hover:underline decoration-2">Shop</li>
          <li class="hover:underline decoration-2">Om Engage</li>
        </ul>
      </div>

      <div class="flex flex-col">
        <h4 class="font-khand text-[19px] lg:text-[30px] font-bold mb-2 "> Hjælp & Support</h4>
        <ul class="font-anek text-cream-500 text-[16px] lg:text-[20px] space-y-4" >
          <li class="hover:underline decoration-2">Kontakt & FAQ</li>
          <li class="hover:underline decoration-2">Handelsbetingelser</li>
          <li class="hover:underline decoration-2">Privatlivspolitik</li>
          <li class="hover:underline decoration-2">Cookiepolitik</li>
        </ul>
      </div>
    </div>
      <div class=" flex flex-col justify-center items-center mt-12 md:mt-0 md:self-start">
        <h4 class="font-khand text-[19px] lg:text-[30px]  mb-2 font-bold "> Følg ENGAGE</h4>

        <div class="flex flex-row justify-center items-center">
          <a href="https://www.facebook.com/engagemusicfestival" class="fa fa-facebook text-cream-500 "></a>
          <a href="https://www.instagram.com/engagefestivaldk/" class="fa fa-instagram text-cream-500 "></a>
        </div>
      </div>
    </div>
  </div>
  <style>
    .fa {
      padding: 10px;
      font-size: 40px;
      width: 60px;
    } 

  
    
  </style>
</footer>
