<div class="h-[200px]">
<div dir="ltr">
    <div class="relative">
    <img src="/Vector.svg" alt="" class="start-0 absolute">
    <img src="/Vector-1.svg" alt="" class="start-0 absolute">
    <img src="/Vector-2.svg" alt="" class="start-0 absolute">
    <img src="/Vector-3.svg" alt="" class="start-0 absolute">
    <img src="/Vector-4.svg" alt="" class="start-0 absolute"></div>
</div>


    <div dir="rtl">
    
        <div class="relative">
    <img src="/Vector-5.svg" alt="" class="start-0 absolute">
    <img src="/Vector-6.svg" alt="" class="start-0 absolute">
    <img src="/Vector-7.svg" alt="" class="start-0 absolute">
    <img src="/Vector-8.svg" alt="" class="start-0 absolute">
    <img src="/Vector-9.svg" alt="" class="start-0 absolute"></div>
</div>
</div>