---
import MainLayout from "../layouts/MainLayout.astro";
---

<nav class="p-4 z-50 relative">
  <div class="container mx-auto flex justify-between items-center">
    <!-- Logo -->

    <a href="/"
      ><div class="text-blo-500 font-bold font-khand text-[24px]">
        ENGAGE FESTIVAL
      </div></a
    >

    <!-- Teksten i midten -->
    <div class="hidden md:block text-blo-500 font-bold font-khand text-[24px]">
      7+8 JUNI
    </div>

    <!-- Shopping cart ikon -->
    <div class="flex items-center space-x-4">
      <div class="text-blo-500 font-bold font-khand text-[24px]">
        <img src="sc1.svg" class="mb-[13%] " />
      </div>

      <!-- Burger menu ikon -->
      <div x-data="{ open: false }">
        <button @click="open = !open" class="text-blo-500 focus:outline-none">
   <img src="burger.svg" alt="" class="w-8">
        </button>

        <!-- Dropdown menu -->
        <div
          x-show="open"
          @click.away="open = false"
          class="absolute top-[73px] right-[20px] bg-sand-500 w-[26rem] rounded-lg shadow-lg py-2 text-center font-khand font-bold text-[19px] md:top-[96px] md:right-[20px] md:w-[12rem] md:text-[22px] z-50"
        >
          <a href="/" class="block px-4 py-2 text-rod-500 hover:bg-cream-400"
            >FORSIDE</a
          >
          <a
            href="/nyheder"
            class="block px-4 py-2 text-rod-500 hover:bg-cream-500">NYHEDER</a
          >
          <a
            href="/program"
            class="block px-4 py-2 text-rod-500 hover:bg-cream-500">PROGRAM</a
          >
          <a
            href="/omos"
            class="block px-4 py-2 text-rod-500 hover:bg-cream-500">OM OS</a
          >
          <a
            href="/billet"
            class="block px-4 py-2 text-rod-500 hover:bg-cream-500">BILETTER</a
          >
        </div>
      </div>
    </div>
  </div>
</nav>
<style>
  .nav-gradient {
    background: linear-gradient(to bottom, #f8d69e 40%, #f8d69e 0%);
  }
</style>
<script>
  class Login extends HTMLElement {
    constructor() {
      super();
      this.attachShadow({
        mode: "open",
      }); //apparently slots only work with the shadow dom?
    }
    connectedCallback() {
      this.html = `<style>
            /****** LOGIN MODAL ******/
            #login-modal {
                background:black;
                position:fixed;
                width:100vw;
                height:100vh;
            }
            .loginmodal-container {
              padding: 30px;
              max-width: 350px;
              width: 100% !important;
              background-color: #F7F7F7;
              margin: 0 auto;
              border-radius: 2px;
              box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
              overflow: hidden;
              font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI","Roboto","Helvetica Neue", Arial, sans-serif;
            }
            .loginmodal-container h1 {
              text-align: center;
              font-size: 1.8em;
            }
            .loginmodal-container input[type=submit] {
              width: 100%;
              display: block;
              margin-bottom: 10px;
              position: relative;
            }
            input[type=password] {
              height: 44px;
              font-size: 16px;
              width: 100%;
              margin-bottom: 10px;
              -webkit-appearance: none;
              background: #fff;
              border: 1px solid #d9d9d9;
              border-top: 1px solid #c0c0c0;
              padding: 0 8px;
              box-sizing: border-box;
            }
            input[type=password]:hover {
              border: 1px solid #b9b9b9;
              border-top: 1px solid #a0a0a0;
              box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
            }
            .loginmodal {
              text-align: center;
              font-size: 14px;
              font-weight: 700;
              height: 36px;
              padding: 0 8px;
            }
            .loginmodal-submit {
              border: 0px;
              color: #fff;
              text-shadow: 0 1px rgba(0,0,0,0.1); 
              background-color: #4d90fe;
              padding: 17px 0px;
              font-size: 14px;
            }
            .loginmodal-submit:hover {
              border: 0px;
              text-shadow: 0 1px rgba(0,0,0,0.3);
              background-color: #357ae8;
            }
          </style>
          <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="loginmodal-container">
                <h1>Login</h1><br>
                <p>This is a school project</p>
                <p>The password is <code>kea</code></p>
                <form>
                  <input type="password" name="pass" placeholder="Password">
                  <input type="submit" name="login" class="login loginmodal-submit" value="Login">
                </form>
              </div>
            </div>
          </div>`;
      this.render();

      this.shadowRoot.querySelector("form").addEventListener("submit", (e) => {
        e.preventDefault();
        if (this.shadowRoot.querySelector("input[name=pass]").value === "kea") {
          document.querySelector("#totally-delete-me").remove();
          localStorage.setItem("iform-totally-logged-in", true);
        }
      });
    }
    render() {
      this.shadowRoot.innerHTML = this.html;
    }
  }
  customElements.define("iform-login", Login);
  window.addEventListener("load", () => {
    if (!localStorage.getItem("iform-totally-logged-in")) {
      const div = document.createElement("div");
      div.id = "totally-delete-me";
      div.style.width = "100vw";
      div.style.height = "100vh";
      div.style.position = "fixed";
      div.style.zIndex = "9999";

      div.innerHTML = "<iform-login />";
      document.body.prepend(div);
    }
  });
</script>
