---
import Button from "./Button.astro";
import Countdown from "./Countdown.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        overflow-x: hidden;
      }


    </style>
  </head>
  <body>
    <div
      class="flex items-center justify-center   relative w-full"
    >
      <img
        src="/Hero.svg"
        alt="grafik"
        class="hero-svg object-center z-20 absolute max-w-screen-2xl xl:max-w-[1700px] w-[120%]  "
      />
      <img
        src="/herobillede.png"
        alt="Billede fra ENGAGE"
        class="w-full z-10 absolute object-cover "
      />

      <div class=" hero-svg z-30 flex justify-center items-center flex-col mt-8">
        <h1
          class="tracking-in-expand lg:mt-24 font-khand text-[82px] font-bold text-cream-500 drop-shadow-lg min-[750px]:text-[150px] min-[1100px]:text-[200px]"
        >
          ENGAGE
        </h1>
        <h3
          class="tracking-in-expand2 font-khand text-[22px] text-sand-500 font-bold -mt-8 min-[750px]:text-[35px] min-[1100px]:text-[45px]"
        >
          Musikfestival på kastellet
        </h3>
        <Countdown />

        <a href="/billet" class="z-40"><Button variant="secondary">KØB BILLET</Button></a>
        
          
        
      </div>
    </div>
  </body>
</html>

<style>


.hero-svg,
.hero-img {
  contain: layout;
}

  .tracking-in-expand {
    -webkit-animation: tracking-in-expand 0.7s
      cubic-bezier(0.215, 0.61, 0.355, 1) both;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  }

 
  @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }

  .tracking-in-expand2 {
    -webkit-animation: tracking-in-expand2 0.7s
      cubic-bezier(0.215, 0.61, 0.355, 1) 0.7s both;
    animation: tracking-in-expand2 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0.7s
      both;
  }

 
  @-webkit-keyframes tracking-in-expand2 {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand2 {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
</style>

