---
import Button from "./Button.astro"
---

<section>
    <article>
<section x-data="{ allenyheder: [] }"
x-init="allenyheder = await (await fetch('nyheder.json')).json(); allenyheder.reverse();"
class="">
<h2 class="flex items-center justify-center font-khand text-rod-500 font-bold tracking-[5px] text-[34px]">Nyheder</h2>
<div class="flex flex-col space-y-[30px] items-center justify-center">
<template x-for="nyheder in allenyheder" :key="nyheder.id">
    <div class="bg-sand-500 mx-24 rounded-[18px]  min-[900px]:mx-4 min-[900px]:max-w-[1200px]">
        <div class="flex flex-col mb-8 min-[900px]:grid min-[900px]:grid-cols-2 min-[900px]:mb-0	">
        <img :src="nyheder.billede" :alt="nyheder.billedealt" class="rounded-t-lg min-[900px]:rounded-l-lg" />
        <div class="mx-7 mt-5 grid min-[900px]:mt-0 md:py-6">
            <h4 x-text="nyheder.overskrift" class="text-rod-500 font-khand font-bold tracking-[2px] text-[19px]"></h4>
            <p x-text="nyheder.tekst" class="font-anek text-[16px] tracking-[2px] my-6 "></p>
            <a class="flex justify-end min-[900px]:place-self-end" href="/nyheder"><Button>LÆS MERE</Button></a>
       </div>
  </div> 
</div>
</template>

</section>
</article>
</section>