---
const { overskrift, imgSrc } = Astro.props;
---

<section
  class="bg-sand-500 mb-32 p-4 mx-[2rem] sm:mx-[7rem] md:mx-[7rem] lg:mx-[13rem] xl:mx-[20rem] 2xl:mx-[25rem] rounded-[18px] md:flex flex-col items-center justify-center "
>
  <img src={imgSrc} alt="" class="md:p-5" /> 
  <h3 class="text-rod-500 font-bold text-[22px] font-khand mt-5 text-center sm:text-[24px] md:text-[35px] lg:text-[40px] xl:text-[45px] md:flex flex-col items-start justify-start sm:px-[2rem] md:px-[3rem] xl:px-[5rem]">
    {overskrift}
  </h3>
  <div class="space-y-5 font-anek mt-5 md:text-[20px] sm:px-[2rem] md:px-[3rem] xl:px-[5rem] pb-8 px-2">
  <slot />
    </div>
    </section>


<!-- 


    <p>
      I samarbejde med Veteranfonden uddeler Fonden Danske Veteranhjem 2×60
      dagsbilletter til fredag og lørdag på ENGAGE Festival til pårørende af
      veteraner. Det sker med støtte fra Veterancentrets veteranpulje. Er du
      pårørende, og vil du gerne have fingrene i en af vores billetter, skal du
      kontakte en af lederne på vores veteranhjem, som du finder her:
    </p>
    <p class="text-rod-500">https://www.veteranhjem.dk</p>
    <p>
      ENGAGE Festival løber af stablen fredag og lørdag den 7.-8. juni. Årets
      program byder blandt andet på Magtens Korridorer, Lisa Ekdal,
      Folkeklubben, Antytila, Carl Emil Petersen, Ida Laurberg, Hjalmer og mange
      flere.
    </p>
    <p>PS.</p> -->