---
import Button from "./Button.astro";
---

<article>

<!-- OVERSKRIFT -->
    <div>
        <h1 class="text-rod-500 font-bold font-khand text-[50px] text-center mt-20 md:text-[130px]">NYHEDSBREV</h1>
        <h3 class="text-rod-500 font-bold font-khand text-[22px] text-center md:text-[45px]">GÅ IKKE GLIP AF NYHEDER FRA ENGAGE</h3>
    </div>

</article >

<article class="flex flex-col items-center justify-center">

<section class="bg-sand-500 p-12 rounded-[30px] my-10">
    <!-- NAVN -->
    <div class="mb-6">
        <h4 class="font-bold text-rod-500 mb-2 font-khand text-[19px] md:text-[30px]">NAVN</h4>
        <input type="text" placeholder="JOHN DOE" class="w-full p-3 pt-4 rounded-[15px] border-transparent font-anek bg-cream-500 md:text-[20px] text-rod-500">
    </div>

    <!-- EMAIL -->
    <div class="mb-6">
        <h4 class="font-bold text-rod-500 mb-2 font-khand text-[19px] md:text-[30px]">EMAIL</h4>
        <input type="email" placeholder="JOHNDOE@GMAIL.COM" class="w-full p-3 pt-4 rounded-[15px] border-transparent font-anek bg-cream-500 md:text-[20px]">
    </div>

    <!-- NYHEDSBREV FOR -->
    <div class="mb-6">
        <h4 class="font-bold text-rod-500 mb-2 font-khand text-[19px] text-left md:text-[30px]">JEG VIL GERNE MODTAGE NYHEDSBREV FOR...</h4>
        <h5 class="text-rod-500 mb-4 font-khand text-[19px] text-left md:text-[30px]">DU KAN VÆLGE OP TIL 3 MULIGHEDER</h5>

        <!-- Mulighederne -->
        <div class="flex flex-col space-y-4 mt-8">
            <label class="flex items-center">
                <input type="checkbox" class="form-checkbox h-6 w-6 text-rod-500 rounded-full border-transparent bg-cream-500">
                <span class="ml-2 font-khand text-rod-500 font-bold text-[19px] md:text-[30px]">VETERANER</span>
            </label>
            <label class="flex items-center">
                <input type="checkbox" class="form-checkbox h-6 w-6 text-rod-500 rounded-full border-transparent bg-cream-500">
                <span class="ml-2 font-khand text-rod-500 font-bold text-[19px] md:text-[30px]">FRIVILLIG</span>
            </label>
            <label class="flex items-center">
                <input type="checkbox" class="form-checkbox h-6 w-6 text-rod-500 rounded-full border-transparent bg-cream-500">
                <span class="ml-2 font-khand text-rod-500 font-bold text-[19px] md:text-[30px]">FESTIVALDELTAGER</span>
            </label>
        </div>
    </div>

    <!-- Knappens plads (bare en placeholder for nu) -->
    <div class="text-right">
        <Button>TILMELD</Button>
    </div>
</section>

</article>