---
import Button from "./Button.astro";
import "animate.css";
---

<body class="relative">
  <article
    class="mx-10 py-6 md:grid md:grid-cols-2 md:auto-rows-min md:gap-40 md:mx-64 timeline relative"
  >
    <!--1968 1 -->

    <div class="pb-10 md:pb-20 md:mt-0 relative a1">
      <h4
        class="font-khand text-rod-500 text-[19px] lg:text-[30px] font-bold mb-2 tracking-[2px]"
      >
        1968
        <br />
        De blå baretter
      </h4>

      <p
        class="font-anek text-greyscale-950 tracking-[2px] text-[16px] lg:text-[20px] pb-6"
      >
        De Blå Baretter blev stiftet den 26. oktober 1968 af en gruppe veteraner
        fra FN-missionen i Gaza, under navnet ”FN-Soldaterforeningen De Blå
        Baretter” under følgende citat ”Til ære for den velorganiserede indsats
        af danske soldater, observatører og politifolk i FN´s fredsbevarende
        styrker”.
      </p>
      <img
        src="barret.svg"
        alt="grafik af blå barret"
        class="mx-auto block w-44 md:w-[250px] mt-10 md:mt-0 md:mb-4 rotate-12 animate__shakeY animate__animated animate__infinite"
      />
    </div>

    <!--2017 2 -->

    <div class="pb-10 md:pb-20 md:p-4 md:mt-48 a2">
      <h4
        class="font-khand text-rod-500 text-[19px] lg:text-[30px] font-bold mb-2 tracking-[2px]"
      >
        2017
        <br />
        ENGAGE bliver til
      </h4>
      <p
        class="font-anek text-greyscale-950 tracking-[2px] text-[16px] lg:text-[20px] mb-10 pb-6"
      >
        Festivalen skal give veteraner noget at mødes og arbejde sammen om,
        ligesom tanken er at åbne miljøet, så alle andre kan blive klogere på,
        hvordan det er at være udsendt med Dannebrog på skulderen. Eksempelvis
        skal der være meeting points for alle, der har været i eksempelvis
        Afghanistan, hvor veteraner kan tale med ligesindede, og hvor lægmænd
        kan stille spørgsmål.
      </p>

      <img
        src="engageblivertil.svg"
        alt="Grafik af hænder med bogstaver der danner ordet engage"
        class="mx-auto block w-60 md:w-[500px]"
      />
    </div>

    <!-- 2017  3-->
    <div class="pb-10 md:pb-20 md:p-4 md:mt-[-24rem] a3">
      <h4
        class="font-khand text-rod-500 text-[19px] lg:text-[30px] font-bold mb-2 tracking-[2px]"
      >
        2017
        <br />
        Begyndelsen på en tradition
      </h4>
      <p
        class="font-anek text-greyscale-950 tracking-[2px] text-[16px] lg:text-[20px] pb-6"
      >
        ENGAGE åbner for første gang dørene til en endags festival der afholdes
        på Refshaleøen med kunstnere som Fallulah, Magtens Korridorer og Sort
        Sol
      </p>

      <img
        src="aaben.svg"
        alt=" et skilt med teksten vi har åben"
        class="mx-auto block w-44 md:w-64 animate__animated animate__swing animate__infinite animate__slower animate__delay-2s"
      />
    </div>

    <!-- 2018  4-->
    <div class="pb-10 md:pb-20 md:p-4 md:mt-[-1rem] a4">
      <h4
        class="font-khand text-rod-500 text-[19px] lg:text-[30px] font-bold mb-2 tracking-[2px]"
      >
        2018
        <br />
        Traditionen styrkes
      </h4>
      <p
        class="font-anek text-greyscale-950 tracking-[2px] text-[16px] lg:text-[20px] pb-6"
      >
        Efter festivalens succes i 2017 slår ENGAGE endnu engang dørene op til
        endags festival på Refshaleøen med kunstnere som Infernal, Aura og Poul
        Krebs
      </p>

      <img src="node22.svg" alt="" class="mx-auto block w-44 md:w-[300px]" />
    </div>

    <!-- 2019  5-->
    <div class="pb-10 md:pb-20 md:p-4 md:mt-[-24rem] a5">
      <h4
        class="font-khand text-rod-500 text-[19px] lg:text-[30px] font-bold mb-2 tracking-[2px]"
      >
        2019
        <br />
        Festen fortsætter
      </h4>
      <p
        class="font-anek text-greyscale-950 tracking-[2px] text-[16px] lg:text-[20px] pb-6"
      >
        ENGAGE åbner dørene op på Refshaleøen for 3 gang til et brag af en fest
        med kunstnere som bla. DAD, Clara og The Sand men
      </p>

      <img
        src="reffen.svg"
        alt=" Grafik af refshaløens bygning med skriften engage"
        class="mx-auto block w-44 md:w-[280px] animate__animated animate__tada animate__infinite animate__slower"
      />
    </div>

    <!-- 2020  6-->
    <div class="pb-10 md:pb-20 md:p-4 md:mt-[-2rem] a6">
      <h4
        class="font-khand text-rod-500 text-[19px] lg:text-[30px] font-bold mb-2 tracking-[2px]"
      >
        2020
        <br />
        ENGAGE rykker online
      </h4>
      <p
        class="font-anek text-greyscale-950 tracking-[2px] text-[16px] lg:text-[20px] pb-6"
      >
        Coronaen kommer men stopper ikke ENGAGE! Dj Martin Jensen laver en
        online koncert fra et krigsskib
      </p>

      <img
        src="pc.svg"
        alt=" grafik af en laptopskærm med noder og corona symboler"
        class="mx-auto block w-44 md:w-[500px]"
      />
    </div>

    <!-- 2020 2 7-->
    <div class="pb-10 md:pb-20 md:p-4 md:mt-[-17rem] a7">
      <h4
        class="font-khand text-rod-500 text-[19px] lg:text-[30px] font-bold mb-2 tracking-[2px]"
      >
        2020
        <br />
        ENGAGE bliver til LYST
      </h4>
      <p
        class="font-anek text-greyscale-950 tracking-[2px] text-[16px] lg:text-[20px] pb-6"
      >
        Coronaen er faldet lidt til ro, og derfor laver ENGAGE en mindre
        festival der afholdes på kastellet. Koncerten foregår siddende på tæpper
        og overholder alle corona restriktionerne
      </p>

      <img
        src="lyst2.svg"
        alt="grafik af bogstaverne lyst med 1 meteres aftsand og et t der danner en håndsprit "
        class="mx-auto max-w-[120%] block w-60 md:w-[800px]"
      />
    </div>

    <!-- 2021  8-->
    <div class="pb-10 md:pb-20 md:p-4 md:mt-[-1rem] a8">
      <h4
        class="font-khand text-rod-500 text-[19px] lg:text-[30px] font-bold mb-2 tracking-[2px]"
      >
        2021
        <br />
        Stærkt tilbage
      </h4>
      <p
        class="font-anek text-greyscale-950 tracking-[2px] text-[16px] lg:text-[20px] pb-6"
      >
        ENGAGE vender stærkt tilbage efter corona og udvider nu til en 2 dages
        festival i Kastellet, samt en 1 dags festival på Skive kaserne med
        kunstnere som Andreas Odbjerg, Dopha og tv2
      </p>

      <img
        src="strong.svg"
        alt="garfik af en arm med tatovering hvor der står engage og omridset af kastellet"
        class="mx-auto block w-44 md:w-[200px] animate__tada animate__animated animate__infinite animate__slower"
      />
    </div>

    <!-- 2022 9 -->
    <div class="pb-10 md:pb-20 md:p-4 md:mt-[-20rem] a9">
      <h4
        class="font-khand text-rod-500 text-[19px] lg:text-[30px] font-bold mb-2 tracking-[2px]"
      >
        2022
        <br />
        Femårs jubilæum
      </h4>
      <p
        class="font-anek text-greyscale-950 tracking-[2px] text-[16px] lg:text-[20px] pb-6"
      >
        ENGAGE har rundet 5 år og det fejres med en to dags festival på
        Kastellet med kunstnere som Blæst, Mads Langer og Love Shop
      </p>

      <img
        src="5aar.svg"
        alt="grafik af en lagkage med et lys med et 5 tal"
        class="mx-auto block w-44 md:w-[250px]"
      />
    </div>

    <!-- 2023 10 -->
    <div class="pb-10 md:pb-20 md:mt-[-1rem] a10">
      <h4
        class="font-khand text-rod-500 text-[19px] lg:text-[30px] font-bold mb-2 tracking-[2px]"
      >
        2023
        <br />
        Fortsat succes
      </h4>
      <p
        class="font-anek text-greyscale-950 tracking-[2px] text-[16px] lg:text-[20px] pb-6"
      >
        ENGAGE har fortsat succes som en to dages festival på kastellet og
        bliver gæstet af kunstnere som L.O.C, Swan Lee og Barselona
      </p>

      <img
        src="kirkekoncert.svg"
        alt="grafik af kastelskirken med engagescene"
        class="mx-auto block w-44 md:w-[300px]"
      />
    </div>

    <!-- 2024 11 -->
    <div class="mb-32 md:mt-[-20rem] a11">
      <h4
        class="font-khand text-rod-500 text-[19px] lg:text-[30px] font-bold mb-2 tracking-[2px]"
      >
        2024
        <br />
        Vi glæder os
      </h4>
      <p
        class="font-anek text-greyscale-950 tracking-[2px] text-[16px] lg:text-[20px] pb-6"
      >
        ENGAGE afholden igen i år over to dage i de smukke omgivelser på
        Kastellet! køb din billet og se programmet her på hjemmesiden! vi glæder
        os til at se dig!
      </p>

      <a href="/billet" class="mx-auto block  relative animate__jello animate__animated animate__infinite animate__slower">
        <Button variant="secondary">KØB BILLET</Button>
      </a>
   
    
   
    </div>
  </article>
</body>
<style>
  .timeline::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 4rem; /* Adjust this value to move the line further down */
    bottom: 0;
    width: 2px;
    background-color: #c7522a;
    transform: translateX(-50%);
  }
  @media (max-width: 767px) {
    /* Adjust breakpoint as needed */
    .timeline::before {
      display: none;
    }
  }
  .animate__animated.animate__swing {
    --animate-duration: 4s;
  }
  .animate__animated.animate__shakeY {
    --animate-duration: 8s;
  }
  .animate__animated.animate__tada {
    --animate-duration: 4s;
  }

  .animate__animated.animate__flipInX {
    --animate-duration: 2s;
  }
  .animate__animated.animate__jackInTheBox {
    --animate-duration: 4s;
  }
</style>

<script>
  import { inView } from "motion";

  const a1 = document.querySelector(".a1");

  inView(a1, () => {
    if (window.innerWidth >= 768)
      a1.classList.add(
        "animate__animated",
        "animate__fadeInLeft",
        "animate__delay-1s"
      );
  });

  const a2 = document.querySelector(".a2");
  inView(a2, () => {
    if (window.innerWidth >= 768)
      a2.classList.add(
        "animate__animated",
        "animate__fadeInRight",
        "animate__delay-1s"
      );
  });

  const a3 = document.querySelector(".a3");
  inView(a3, () => {
    if (window.innerWidth >= 768)
      a3.classList.add(
        "animate__animated",
        "animate__fadeInLeft",
        "animate__delay-1s"
      );
  });
  const a4 = document.querySelector(".a4");
  inView(a4, () => {
    if (window.innerWidth >= 768)
      a4.classList.add(
        "animate__animated",
        "animate__fadeInRight",
        "animate__delay-1s"
      );
  });
  const a5 = document.querySelector(".a5");
  inView(a5, () => {
    if (window.innerWidth >= 768)
      a5.classList.add(
        "animate__animated",
        "animate__fadeInLeft",
        "animate__delay-1s"
      );
  });
  const a6 = document.querySelector(".a6");
  inView(a6, () => {
    if (window.innerWidth >= 768)
      a6.classList.add(
        "animate__animated",
        "animate__fadeInRight",
        "animate__delay-1s"
      );
  });
  const a7 = document.querySelector(".a7");
  inView(a7, () => {
    if (window.innerWidth >= 768)
      a7.classList.add(
        "animate__animated",
        "animate__fadeInLeft",
        "animate__delay-1s"
      );
  });
  const a8 = document.querySelector(".a8");
  inView(a8, () => {
    if (window.innerWidth >= 768)
      a8.classList.add(
        "animate__animated",
        "animate__fadeInRight",
        "animate__delay-1s"
      );
  });
  const a9 = document.querySelector(".a9");
  inView(a9, () => {
    if (window.innerWidth >= 768)
      a9.classList.add(
        "animate__animated",
        "animate__fadeInLeft",
        "animate__delay-1s"
      );
  });
  const a10 = document.querySelector(".a10");
  inView(a10, () => {
    if (window.innerWidth >= 768)
      a10.classList.add(
        "animate__animated",
        "animate__fadeInRight",
        "animate__delay-1s"
      );
  });

  const a11 = document.querySelector(".a11");

  inView(a11, () => {
    if (window.innerWidth >= 768)
      a11.classList.add(
        "animate__animated",
        "animate__fadeInLeft",
        "animate__delay-1s"
      );
  });
</script>
